<div>
    <h2 id="page-heading">
        <span>Shipments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipment" [routerLink]="['/shipment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Shipment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shipments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tracking Code</span></th>
            <th><span>Date</span></th>
            <th><span>Details</span></th>
            <th><span>Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipment of shipments ;trackBy: trackId">
                <td><a [routerLink]="['/shipment', shipment.id, 'view' ]">{{shipment.id}}</a></td>
                <td>{{shipment.trackingCode}}</td>
                <td>{{shipment.date | date:'medium'}}</td>
                <td>{{shipment.details}}</td>
                <td>
                    <div *ngIf="shipment.invoice">
                        <a [routerLink]="['../invoice', shipment.invoice?.id, 'view' ]" >{{shipment.invoice?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/shipment', shipment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shipment', shipment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shipment', { outlets: { popup: shipment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
