<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productOrder">
            <h2><span>Product Order</span> {{productOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Placed Date</span></dt>
                <dd>
                    <span>{{productOrder.placedDate}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{productOrder.status}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{productOrder.code}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="productOrder.customer">
                        <a [routerLink]="['/customer', productOrder.customer?.id, 'view']">{{productOrder.customer?.mail}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-order', productOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
