<div>
    <h2 id="page-heading">
        <span>Warehouses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-warehouse" [routerLink]="['/warehouse/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Warehouse
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="warehouses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Create At</span></th>
            <th><span>Update At</span></th>
            <th><span>Description</span></th>
            <th><span>Amount</span></th>
            <th><span>Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let warehouse of warehouses ;trackBy: trackId">
                <td><a [routerLink]="['/warehouse', warehouse.id, 'view' ]">{{warehouse.id}}</a></td>
                <td>{{warehouse.createAt | date:'medium'}}</td>
                <td>{{warehouse.updateAt | date:'medium'}}</td>
                <td>{{warehouse.description}}</td>
                <td>{{warehouse.amount}}</td>
                <td>
                    <div *ngIf="warehouse.product">
                        <a [routerLink]="['../product', warehouse.product?.id, 'view' ]" >{{warehouse.product?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/warehouse', warehouse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/warehouse', warehouse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'warehouse', { outlets: { popup: warehouse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
