<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warehouse">
            <h2><span>Warehouse</span> {{warehouse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Create At</span></dt>
                <dd>
                    <span>{{warehouse.createAt}}</span>
                </dd>
                <dt><span>Update At</span></dt>
                <dd>
                    <span>{{warehouse.updateAt}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{warehouse.description}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{warehouse.amount}}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="warehouse.product">
                        <a [routerLink]="['/product', warehouse.product?.id, 'view']">{{warehouse.product?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/warehouse', warehouse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
